<p><strong>Add product</strong></p>
<div class="add-product-container">
	<div>
		<p>Name</p>
		<input type="text" id="name" [(ngModel)]="name">
	</div>
	<div>
		<p>Price</p>
		<input type="number" id="price" [(ngModel)]="price">
	</div>
	<div>
		<p>Category</p>
		<select id="category" [(ngModel)]="category">>
			<option *ngFor="let category of categories" [value]="category.value">{{ category.title }}</option>
		</select>
	</div>
	<div>
		<p class="checkbox-title">Is available: </p>
		<input type="checkbox" [(ngModel)]="isAvailable">
	</div>
	<button type="button" (click)="onProductAdd()">Add</button>
</div>
