.order {
	width: fit-content;
	min-width: 300px;
	padding: 10px;
	border: 1px lightcoral dashed;
}

ul {
	margin: 0;
}

ul li {
	list-style: none;
	float: left;
	margin: 0;
	margin-left: 15px;
}

ul li:first-child {
	margin: 0;
}