div {
	margin-top: 5px;
}

div p {
	margin: 0;
}

div input {
	margin: 0;
	width: 290px;
}

#login-container {
	width: 300px;
	margin: 10px;
	padding: 15px;
	border: 1px solid #000;
	border-radius: 5px;
}

button {
	margin-top: 10px;
	width: 60px;
}