<div class="product-container">
	<h3>{{ product.name }}</h3>
	<div>
		<ul>
			<li>Price: {{ product.price | currency:'USD' }} </li>
			<li>Category: {{ productCategory | uppercase }}</li>
			<li *ngIf="product.isAvailable; else elseBlock" class="in-stock">In stock.</li>
			<ng-template #elseBlock><li class="not-in-stock">Not in stock</li></ng-template>
		</ul>
		<p><strong>Description</strong></p>
		<p><span>{{ product.description }}</span></p>
	</div>
	<button type="button" (click)="onBuy()" [disabled]="!product.isAvailable">Buy</button>
</div>